*{
	margin: 0;
	padding: 0;
  letter-spacing: 1px;
  width: 100%;
}
.container{
	border: 1px solid black;
	background-color: #70aba8;
	width: 390px;
	height: 100%;
	margin-top:80px ;
	margin-left: 500px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px #99c3c3;	
}

#input{
	font-style: bold;
	font-size: 30px;
	text-align: right;
	border: none;
	width: 90%;
	height: 50px;
	margin: 20px 20px 30px 20px;
    background-color: #70aba8;
    border:none;
    cursor: pointer;
}

.buttons{
	border-radius: 20px;

}
button{
	width: 70px;
	height: 70px;
	column-gap: 8px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	row-gap: 8px;
	box-shadow: -10px -10px 20px #0f3827;
	font-size: 20px;
	cursor: pointer;
}
button:active{
	background: #000;
	transform: translate(2px, 2px);
}
.opr{
	background-color: lightblue;

}
#eqBtn{
	background-color: #5aca66;
}


	
