*{
	margin : 0;
	padding: 0;
	text-align: center;
}	


h2{
   background-color: black;
   color: white;
   text-align: center;
   padding: 25px;
   font-size: 40px;
   border-radius: 10px;
}
	

.containers{
	display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 3rem;
}

img{
	width: 180px;
	object-fit: cover;   
	border-radius: 50%;
}

img:hover{
    opacity: 0.5;
	border: 2px dotted blue;
	cursor: pointer;
	ba
}
p{
	
	font-size: 40px;
	padding-left: 30px;
}
.count{
	display: flex;
	justify-content: center;
	margin: 30px;
	

}
#btn{
	width: auto;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	background-color: black;
	color: white;
	cursor: pointer;

}
